*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #bef6fd;
}

.inner{
    padding-top: 2rem;
}

.header{
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 1rem;
    position: relative;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
    font-size: 1.2rem;
}

.skill-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
}

.skill-title h3{
    color: rgb(0, 0, 0);
    margin: 0.8rem;
    margin-bottom: 0.5rem;
}

.img{
    width: 90px;
    height: 90px;
    position: relative;
    border-radius: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.img:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 90px;
    background:rgba(226, 225, 225, 0.249);
    border-radius: 45px 0 0 45px;
}

.skill-icon{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.skill-box{
    margin: 1.5rem;
}

.skill-box:hover .img{
    transform: translateY(-10px);
}
